{% extends 'principal.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
<section class="section">
        <div class="container">
            <form action="" method="GET">
                <div class="form-group row p-3">
                    <label class="col-sm-2 col-form-label">Nome do aluno: </label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" name="buscar" value="{{ request.GET.buscar }}"
                               placeholder="Digite o nome do aluno">
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary">
                            Buscar
                        </button>
                    </div>
                </div>
            </form>
            {% if object_list %}
                <div class="card-body">
                    <h3 class="text-center">Alunos Cadastrados</h3>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="table-success">
                                <th>Nome</th>
                                <th>Fone</th>
                                <th>E-mail</th>
                                <th>Plano</th>
                                <th style="width: 100px; text-align: center">Ações</th>
                            </thead>
                            <tbody>
                                {% for aluno in object_list %}
                                    <tr>
                                        <td><a href="#" data-bs-toggle="modal" data-bs-target="#modal{{aluno.id}}">{{ aluno.nome }}</a></td>
                                        <td>{{ aluno.fone }}</td>
                                        <td>{{ aluno.email }}</td>
                                        <td>{{ aluno.plano }}</td>
                                        <td style="text-align: center">
                                            <div class="modal" tabindex="-1" id="modal{{aluno.id}}">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Aluno: {{ aluno.nome }}</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" arial-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body d-flex justify-content-center">
                                                            <div>
                                                                {% if aluno.foto.url is not empty %}
                                                                <img src="{{ aluno.foto.url }}" class="img-thumbnail" width="100" height="100" alt=""/>
                                                                {% endif %}
                                                                <h6><strong>Fone: </strong>{{ aluno.fone }}</h6>
                                                                <h6><strong>Plano: </strong>{{ aluno.plano }}</h6>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                            Fechar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="{% url 'aluno_editar' aluno.pk %}">
                                                <span class="icon">
                                                    <i class="fas fa-edit"></i>
                                                </span>
                                            </a>
                                            <a href="{% url 'aluno_apagar' aluno.pk %}">
                                                <span class="icon">
                                                    <i class="far fa-trash-alt"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center">
                        {% bootstrap_pagination object_list url="/alunos?page=1" size="sm" %}
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
